<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onEnter)="buscar($event)" placeholder="Buscar Pais..." (onDebounce)="sugerencias($event)"></app-pais-input>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-action" class="nav-link" *ngFor="let pais of paisesSugeridos">
        {{pais.name}}
    </li>
</ul>

<hr>


<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{termino}}.
</div>

<br>


<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>